* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  width: 100%;
}

img {
  max-width: 100%;
  width: 100%;
  display: block;
}

body {
  background: #FFEC39;
  font-size: 86%;
}

h1, h2, h3 {
  font-family: 'Brownstone Sans Hole', sans-serif;
  line-height: 1.25;
}

h1 {
	color: black;
	font-size: 520%;
	font-weight: 200;
	text-align: center;
}

p {
  font-family: 'Port Lligat Slab', sans-serif;
  font-weight: 300;
  color: #E89313;
  font-size: 210%;
  line-height: 1.4;
  font-weight: 300;
}

.page-header {
  position: relative;
}

.logo-header {
  width: 80%;
  max-width: 100em;
  position: relative;
  margin: 2em;
  font-size: 120%;
}

.logo {
  position: relative;
  width: 20em;
}

.logo-square {
  width: 3.5em;
  height: 3.5em;
  background: white;
  border-radius: 7%;
  position: absolute;
  top: 0.3333em;
  left: 0.7777em;
  z-index: 0;
  opacity: 0;
  transform: scale(0);
  transform-origin: 50% 50%;
}

.lnl-letter {
  opacity: 0;
  z-index: 10;
  transform-origin: 50% 50%;
  transition: 0.25s all;
  transform: scale(0.8);
}

.lnl-letter-1 {
  opacity: 1;
  transform: scale(1.0);
}

.lnl-ampersand {
  fill: #fefefe;
}

.fade {
  opacity: 0;
  transform: scale(0.75);
}

.show {
  transform: scale(1);
  opacity: 1;
}

.logo-square.show {
  animation-fill-mode: forwards;
  animation: zoomin 3s ease;
}

.no-js .logo-square {
  opacity: 1;
  transform: scale(1);
}

main {
  padding: 1em 0;
}

.content {
  width: 60%;
  margin: 0 auto;
}

.lemonbar-header {
  background-image: url(../images/lemonbar-header.png);
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  padding: 4em;
  margin: 0 auto;
  width: 100%;
}

.lemonbar p {
  padding-top: 1em;
}

.promo {
  width: 90%;
  margin: 0 auto;
  border-radius: 4px;
}

.img-wrapper {
  margin: 2em auto 0 auto;
  text-align: center;
  position: relative;
  padding: 2.45em 0;
}

.img-wrapper:before {
  background: url(../images/square.svg) no-repeat top left,
    url(../images/circle.svg) repeat-x top left;
  top: 0;
}

.img-wrapper:after {
  background: url(../images/circle.svg) repeat-x top left;
  bottom: 0;
}

.img-wrapper:before,
.img-wrapper:after {
  display: block;
  content: " ";
  background-size: 20px 20px;
  height: 20px;
  width: 100%;
  position: absolute;
  z-index: -1;
}


.copyright {
  font-size: 50%;
  margin: 10em auto 0 auto;
  padding: 1.3333em;
  font-weight: 300;
  text-align: center;
  background: #FFF58C;
  border-top: 2px solid #91D745;
}

.copyright p {
  color: black;
  font-family: sans-serif;
}

@keyframes zoomin {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  
  20% {
    opacity: 1;
    transform: scale(1.1,0.1);
  }
  
  25% {
    transform: scale(1,0.05);
  }
  
  40% {
    transform: scale(0.95,1.1);
  }
  
  50% {
    transform: scale(1,1);
  }
  
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@media all and (max-width: 800px) {
  body {
    font-size: 75%;
  }
  .content {
    width: 80%;
  }
  .img-wrapper img {
    width: 100%;
    border-radius: 0;
  }
}

@media all and (max-width: 620px) {
  .lemonbar-header {
    width: 90%;
  }
}

@media all and (max-width: 500px) {
  .lemonbar-header h1 {
    font-size: 360%;
  }
}

@media all and (max-width: 380px) {
  .lemonbar-header h1 {
    font-size: 290%;
  }
}

div#mfPreviewBarShow {
  display: none !important;
}
