* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body, html {
	width: 100%;
	height: 100%;
}

body {
	background: #eee;
	font-size: 100%;
}

body, h1, h2, h3 {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
    text-align: center;
    color: #4f585f;
}

h1 { font-size: 260%; }
h2 { font-size: 180%; }

img {
	width: 100%;
	max-width: 100%;
	display: block;
}

#header {
	text-align: center;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
}

.mast {
	background: #eee;
	border-bottom: 1px solid #fff;
}

.social {
	background: rgba(240,240,240,0.6);
	font-size: 100%;
	display: flex;
	padding-bottom: 1px;
	margin-top: -1px;
	z-index: 1;
}

.social-left, .social-right {
	width: 50%;
}

.social-link {
	display: block;
	vertical-align: top;
	padding: 0.8em;
	background: rgba(210,210,210,0.8);
	box-shadow: 
	    1px 0 0 0 #f6f6f6, 
	    0 1px 0 0 #f6f6f6, 
	    1px 1px 0 0 #f6f6f6,   /* Just to fix the corner */
	    1px 0 0 0 #f6f6f6 inset, 
	    0 1px 0 0 #f6f6f6 inset;
}

.social-left .social-link {
	float: right;
}

.social-right .social-link {
	float: left;
}

.social-link img {
	max-width: 22px;
}

main {
	margin-top: 5em;
	background: #fff;
	min-height: 300px;
}

.product {
	background-color: #220525;
    background-image: url(../images/symphony.png);
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
}

.product-image {
	width: 50%;
}

.product-desc {
	width: 50%;
}

.product-desc-inner {
	background: rgba(220,220,220,0.75);
	box-shadow: 0 1px 3px rgba(20,20,20,0.4);
	padding: 2.5em 2em;
	margin: 2em;
	border: 1px solid #764C1D;
	border-radius: 3px;
}

@media all and (min-width: 1700px) {
	.product-desc-inner {
		margin: 2em auto;
		max-width: 700px;
		font-size: 140%;
	}
}

.product-desc h1 {
	color: #220525;
	font-weight: 300;
	font-family: 'Roboto';
}

.product-desc h2 {
	color: #764C1D;
	margin-top: 0.25em;
	padding-bottom: 0.1em;
	font-family: 'Roboto Slab';
	letter-spacing: 1px;
	font-weight: 300;
}

.product p {
	text-align: left;
	margin-top: 1em;
	font-size: 110%;
}

.logo {
	display: inline-block;
	max-width: 360px;
	margin: 0.33em 0 0.15em -11px;
}

.product-images img {
	display: inline-block;
	width: 50%;
	vertical-align: middle;
}

#footer {
	text-align: center;
	padding: 1.66em 0 2.2em;
	font-size: 92%;
}

.made-in-oregon {
	max-width: 60px;
	display: block;
	margin: 0 auto;
}

@media all and (max-width: 1080px) {
	.product {
		-webkit-flex-wrap: wrap;
		flex-wrap: wrap;
	}

	.product-image {
		width: 100%;
	}

	.product-desc {
		width: 100%;
		background: no-repeat url(../images/gwynn-keyboard-table.jpg);
		background-size: cover;
		background-position: center 70%;
	}

	.product-desc-inner {
		background: rgba(220,220,220,0.86);
		margin: 7em auto 9em auto;
		padding: 2em;
		border: none;
		max-width: 860px;
	}
}

@media all and (max-width: 920px) {
	.product-desc-inner {
		margin-left: 2em;
		margin-right: 2em;
	}
}

@media all and (max-width: 500px) {
	#header {
		position: relative;
	}

	main {
		margin-top: -3.25em;
	}

	.social {
		padding: 0;
		margin: 0;
	}

	.social-link {
		border: none;
		box-shadow: none;
	}

	.product-desc-inner {
		margin: 5em 1em 13em 1em;
	}
}

@media all and (max-width: 360px) {
	.logo {
		margin: 0.33em 0 0.15em -0.1em;
		padding: 0 0.5em;
	}
}